<!-- ELECCION DE JORNADA O PRODUCCION -->

<div class="usuario" id="usuario">

    <div class="boton_jornadaproduccion">

        <div>

            <input type="checkbox" class="boton_usuario" id="jornada">
            
            <label for="jornada"><p>Registro de jornada</p></label>

        </div>

        <div>

            <input type="checkbox" class="boton_usuario" id="produccion">

            <label for="produccion">Registro de producción</label>

        </div>

    </div>

</div>